/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mt1 {
  margin-top: 10px;
}
.mt2 {
  margin-top: 20px;
}
.mt3 {
  margin-top: 30px;
}
.mt4 {
  margin-top: 40px;
}
.mb1 {
  margin-top: 10px;
}
.mb2 {
  margin-top: 20px;
}
.mb3 {
  margin-top: 30px;
}
.mb4 {
   margin-top: 40px;
 }

